.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entriesSearch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
